.container
	justify-content: space-between
	
.button
	text-align: center
	padding-bottom: 7vh

	button
		padding: 0 90px
		font-size: 1em

.photoContainer
	flex: 0 0 auto
	margin: 0 auto
	display: flex

.photos
	flex: 1 1 auto
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	
.photo
	width: 120px
	height: 120px
	border: none
	outline: none
	background-position: center
	background-size: cover

.bigImage
	flex: 0 0 auto
	height: 400px
	width: 400px
	background-size: cover
	margin: 0 15px


