@import "styles/variables"
	
.videos
	display: flex
	justify-content: center
	flex: 1 0 auto
	align-items: center

	&>div 
		margin: 20px

.gradient
	background: radial-gradient(50% 2450% at 50% 100%, #005AA4 23.44%, #001241 100%)