@import "styles/variables"
	
.container
	background-image: url(/images/salut-2.jpg)
	background-size: cover
	background-position: center

	
.videoContainer
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	flex: 1 1 auto
	align-items: center
	padding: 80px 0
	position: relative

	@media(max-width: 1300px)
		padding: 80px 27px

	@media(max-height: 850px)
		padding-top: 0
		padding-bottom: 0

	@media(max-width: 550px)
		padding: 0 5vw
		

.arrowLeft, .arrowRight
	position: absolute
	background: none
	border: none
	background-image: url(/images/arrow-left.svg)
	background-size: contain
	background-repeat: no-repeat
	background-position: center
	width: 2.4em
	height: 5em
	padding: 0

	@media(max-width: 550px)
		width: 6vw

	&.hide
		display: none
	

.arrowLeft
	left: -3.5em
	top: 45%
	transform: rotate(180deg)
	@media(max-width: 1300px)
		left: -12px
		
	@media(max-width: 600px)
		left: -4px

.arrowRight
	right: -3.5em
	top: 45%
	@media(max-width: 1300px)
		right: -12px

	@media(max-width: 600px)
		right: -4px



.video
	width: 210px
	height: 140px
	margin-bottom: 20px
	border: 10px solid white
	background-size: cover
	background-position: center
	background-color: $primary

	@media(max-width: 1100px)
		width: 27vw
		height: 17vw

	@media(max-width: 700px)
		width: 27vw
		height: 17vw

	@media(max-width: 550px)
		border: 5px solid white
		width: 42vw
		height: 26vw

	img
		height: 70%
		opacity: 0.3
		transition: opacity 0.2s
	&:hover
		cursor: default

	&.active:hover
		cursor: pointer
		img
			opacity: 1

.button
	text-align: center
	padding-bottom: 7vh

	button
		padding: 0 90px
		font-size: 1em

		@media(max-width: 400px)
			padding: 0 1.5em

.photoContainer
	flex: 0 0 auto
	margin: 0 auto
	display: flex

.photos
	flex: 1 1 auto
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	
.photo
	width: 120px
	height: 120px
	border: none
	outline: none
	background-position: center
	background-size: cover

.bigImage
	flex: 0 0 auto
	height: 400px
	width: 400px
	background-size: cover
	margin: 0 15px




	