@import "styles/variables"
	
.votes
	display: flex
	padding: 0
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 50px

	li
		list-style-type: none
		text-align: center
		margin: 45px 0
		
		&:last-child
			margin: 45px auto

		.description
			color: #828282
			margin: 1em 0

